.rightMenuContainer {
  width: fit-content;
  height: 90vh;
  background: var(--colorBG);
  position: fixed;
  right: 0;
  top: 12vh;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  /* box-shadow: 30px 30px 5px 10px black; */
  border: 1px solid var(--colorBGVariant);

  background-image: url(../../Assets/dark-wood.png);
  transform: translateX(200%);
  transition:var(--transition)
}
.rightMenuContainer.active{
  transform: translateX(0%);
}
.debitCardContainer {
  width: 100%;
  height: auto;
  /* border: 15px solid whitesmoke; */
}
.debitCard {
  width: 20rem;
  height: 12rem;
  min-width: 300px;
  min-height: 170px;
  position: relative;
  border-radius: 15px;
  float: right;
  /* right: 2rem; */
  /* overflow: hidden; */
}
.debitCard::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: -2;
  background: var(--colorBGVariant);
  transform: rotate(5deg);
  border: 1px solid var(--colorWhite);
  border-radius: 20px;
}
.debitCard::after {
  border-radius: 20px;

  background: linear-gradient(
    45deg,
    rgb(255, 255, 255, 0.3),
    rgb(255, 255, 255, 0.1)
  );
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);

  z-index: -1;
}
.cardGroup {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cardLogo,
.cardChip,
.cardNumber,
.cardName,
.cardFrom,
.cardTo,
.cardRing {
  position: absolute;
}
.cardLogo {
  width: 100px;
  top: 40px;
  right: 50px;
  height: auto;
}
.cardChip {
  width: 60px;
  top: 50px;
  left: 30px;
  height: auto;
  color: var(--colorWhite);
}
.cardNumber,
.cardFrom,
.cardTo,
.cardName {
  font-size: 12px;
  font-weight: 500;
  /* color: white; */
  /* letter-spacing: 2px; */
}
.cardNumber {
  bottom: 60px;
  left: 30px;
}
.cardName {
  bottom: 30px;
  left: 30px;
}
.cardFrom {
  bottom: 30px;
  right: 90px;
}
.cardTo {
  bottom: 30px;
  right: 30px;
}
.cardRing {
  height: 400px;
  width: 400px;
  border-radius: 100vw;
  background: transparent;
  border: 50px solid rgba(0, 0, 0, 0.07);
  top: -200px;
  right: -150px;
  box-sizing: border-box;
}
.cardRing::after {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  border-radius: 100vw;
  background: transparent;
  border: 50px solid rgba(0, 0, 0, 0.07);
  top: 200px;
  right: -100px;
  box-sizing: border-box;
}
.cartCheckOutContainer {
  width: 100%;
}
.cartContainer {
  width: 100%;
  height: 30vh;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  /* background: white; */
}
.cartContainer::-webkit-scrollbar {
  display: none;
}
.cartBottom {
  /* background: red; */
}
.totalSection {
  height: 2vh;

  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  display: flex;
}
.checkOut {
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  color: var(--colorWhite);
  cursor: pointer;
  background: var(--colorBGVariant);
  transition: var(--transition);
  letter-spacing: 2px;
  font-weight: bolder;
}
.checkOut:hover {
  background: var(--colorWhite);
  color: var(--colorBGVariant);
}
.checkOut:active{
  transform:scale(1.1)
}